/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * Mandala implementation : © Sergio Cabrera sergiocabrera0904@gmail.com
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * mandala.css
 *
 * Mandala stylesheet
 *
 */

/*
    This is the CSS stylesheet of your game User Interface.
    
    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (mandala_mandala.tpl), and to HTML elements you create dynamically
    (in mandala.js).
    
    Usually, you are using CSS to:
    
    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can 
        display these images correctly (see example below).
    
    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.
        
        
     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/

/* Note: you must not use any @import directive */

:root {
    --mdlScale: 1;
}

/* @media (max-width: 1260px) { */
@media (max-width: 1385px) {
    :root {
        --mdlScale: 0.9;
    }
}
/* @media (max-width: 1160px) { */
@media (max-width: 1270px) {
    :root {
        --mdlScale: 0.8;
    }
    .mdl_mandala .mdl_mountain {
        margin-top: 9px;
    }    
}
/* @media (max-width: 1060px) { */
@media (max-width: 1155px) {
    :root {
        --mdlScale: 0.7;
    }
    .mdl_mandala .mdl_mountain {
        margin-top: calc(10px * var(--mdlScale));
    }    
}
@media (max-width: 1040px) {
    :root {
        --mdlScale: 0.6;
    }
    .mdl_mandala .mdl_mountain {
        margin-top: calc(10px * var(--mdlScale));
    }    
}

@media (max-width: 993px) {
    #mdl_table #mdl_game_area {
        width: calc(993px * var(--mdlScale));
        display: inline-block;
    }    
}

@media (min-width: 989px) {
    .mdl_player_panel_row .mdl_card {
        width: 36px;
        height: 36px;
    }

    .mdl_player_panel_row.mdl_panel_cards {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 988px) {
    .mdl_player_panel_row .mdl_card {
        width: 28px;
        height: 28px;
    }

    .mdl_player_panel_row.mdl_panel_cards {
        grid-template-columns: repeat(3, 1fr);
    }

    /* .mdl_player_panel_row.mdl_panel_cards {
        grid-template-columns: repeat(6, 1fr);
    } */

    #player_boards .mdl_panel_card .mdl_card_counter {
        padding-top: 0px;
    }
}

@media (max-height: 740px) {
    :root {
        --mdlScale: 0.75;
    }
}
@media (max-height: 450px) {
    :root {
        --mdlScale: 0.4;
    }
    .mdl_mandalas .mdl_mandala .mdl_mountain {
        margin-top: 2px;
    }    
}

/* Playmat */

#mdl_table {
    text-align: center;
    position: relative;
    transform-origin: top left;    
}

#mdl_game_area {
    /* width: calc(994px * var(--mdlScale)); */
    width: calc(1105px * var(--mdlScale));
    margin: auto;
    /* display: inline-block; */
    display: grid;
    grid-template-columns: 90% 10%;
    grid-column-gap: 1%;
}

#mdl_playmat {
    background-image: url("img/Mandala_Gameboard.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    height: calc(640px * var(--mdlScale));
}
#mdl_playmat.reverted {
    background-image: url("img/Mandala_Gameboard_reverted.jpg");
}

#mdl_card_deck {
    z-index: 0;
}

#mdl_overall {
	display: flex;
	flex-direction: column;
	align-items:center;
	justify-content:center;
	margin-top: 10px;
}

.shadow {
    -moz-box-shadow: 0.5px 0.5px 2px 0.5px #222;
    -webkit-box-shadow: 0.5px 0.5px 2px 0.5px #222;
    -o-box-shadow: 0.5px 0.5px 2px 0.5px #222;
    box-shadow: 0.5px 0.5px 2px 0.5px #222;
}
.stockitem_selected {
    border: 3px solid green !important;
    border-radius: calc(8px * var(--mdlScale));
    -moz-box-shadow: 1px 1px 7px 3px green;
    -webkit-box-shadow: 1px 1px 7px 3px green;
    -o-box-shadow: 1px 1px 7px 3px green;
    box-shadow: 1px 1px 7px 3px green;
}

.mdl_player_name, .mdl_op_player_name {
    position: absolute;
    width: calc(98px * var(--mdlScale));
    text-align: center;
    font-size: calc(16px * var(--mdlScale));
}
.mdl_player_name {
    top: calc(106px * var(--mdlScale));
}
.mdl_op_player_name {
    top: calc(-28px * var(--mdlScale));
}
.mdl_cup_counter {
    position: absolute;
    z-index: 100;
    left: calc(107px * var(--mdlScale));
    top: calc(73px * var(--mdlScale));
    font-size: calc(18px * var(--mdlScale));
    font-weight: 500;
    border: 1px solid black;
    border-radius: 8px;
    background-color: white;
    width: calc(25px * var(--mdlScale));
    height: calc(25px * var(--mdlScale));
    display: flex;
    justify-content: center;
    align-items: center;
}

.mdl_clickable_area {
    position: relative;
    z-index: 200;
    height: calc(102px * var(--mdlScale));
}

.mdl_river {
    height: calc(150px * var(--mdlScale));
    position: relative;
    max-width: 100%;
}

.mdl_mandalas {
    height: calc(338px * var(--mdlScale));
    display: flex;
    max-width: 100%;
}

.mdl_mandala {
    flex: 1;
    height: calc(338px * var(--mdlScale));
    width: 50%;
    border: 2px solid transparent;
}

.mdl_mandala.mdl_completed {
    border: calc(2px * var(--mdlScale)) solid green;
    -moz-box-shadow: 1px 1px 7px 3px green;
    -webkit-box-shadow: 1px 1px 7px 3px green;
    -o-box-shadow: 1px 1px 7px 3px green;
    box-shadow: 1px 1px 7px 3px green;
}
.mdl_mandala.mdl_masteryoga_active {
    border: calc(2px * var(--mdlScale)) solid black;
    -moz-box-shadow: 1px 1px 7px 3px black;
    -webkit-box-shadow: 1px 1px 7px 3px black;
    -o-box-shadow: 1px 1px 7px 3px black;
    box-shadow: 1px 1px 7px 3px black;
}

.mdl_candidate {
    border: calc(2px * var(--mdlScale)) solid green;
    -moz-box-shadow: 1px 1px 7px 3px green;
    -webkit-box-shadow: 1px 1px 7px 3px green;
    -o-box-shadow: 1px 1px 7px 3px green;
    box-shadow: 1px 1px 7px 3px green;
}

.mdl_mountain {
    height: calc(99px * var(--mdlScale));
    margin-top: 10px;
    margin-bottom: calc(10px * var(--mdlScale));
    border: calc(2px * var(--mdlScale)) solid transparent;
}
.mdl_mountain.mdl_candidate {
    cursor: pointer;
    border: calc(2px * var(--mdlScale)) solid green;
}
.mdl_mountain.mdl_candidate .stockitem_unselectable {
    cursor: pointer !important;
}

.mdl_field {
    height: calc(102px * var(--mdlScale));
    border: calc(2px * var(--mdlScale)) solid transparent;
    position: relative;
}
.mdl_field.mdl_candidate {
    cursor: pointer;
    border: calc(2px * var(--mdlScale)) solid green;
}
.mdl_field.mdl_player {
    top: calc(4px * var(--mdlScale));
}

.mdl_card_ph {
    width: calc(98px * var(--mdlScale));
    height: calc(98px * var(--mdlScale));
    border: calc(2px * var(--mdlScale)) solid transparent;
    position: absolute;
}

.mdl_card_ph.mdl_candidate {
    cursor: pointer;
    border: calc(2px * var(--mdlScale)) solid green;
}

.mdl_op_river .mdl_card_ph {
    top: calc(45px * var(--mdlScale));
}

.mdl_op_cup {
    left: calc(65px * var(--mdlScale));
}
.mdl_op_river_6 {
    left: calc(217px * var(--mdlScale));
}
.mdl_op_river_5 {
    left: calc(337px * var(--mdlScale));
}
.mdl_op_river_4 {
    left: calc(457px * var(--mdlScale));
}
.mdl_op_river_3 {
    left: calc(577px * var(--mdlScale));
}
.mdl_op_river_2 {
    left: calc(697px * var(--mdlScale));
}
.mdl_op_river_1 {
    left: calc(817px * var(--mdlScale));
}
.mdl_op_cup .mdl_card {
    transform: rotate(180deg);
}

.mdl_my_river .mdl_card_ph {
    top: calc(7px * var(--mdlScale));
}
.mdl_my_river_1 {
    left: calc(77px * var(--mdlScale));
}
.mdl_my_river_2 {
    left: calc(197px * var(--mdlScale));
}
.mdl_my_river_3 {
    left: calc(317px * var(--mdlScale));
}
.mdl_my_river_4 {
    left: calc(437px * var(--mdlScale));
}
.mdl_my_river_5 {
    left: calc(557px * var(--mdlScale));
}
.mdl_my_river_6 {
    left: calc(677px * var(--mdlScale));
}
.mdl_my_cup {
    left: calc(829px * var(--mdlScale));
}


/* Cards */

.mdl_card {
    width: calc(96px * var(--mdlScale));
    height: calc(96px * var(--mdlScale));
    background-size: 800% 100%;
    background-image: url("img/mandala_cards.png");
    position: absolute;
}
.colorblind .mdl_card {
    background-image: url("img/mandala_cards_cb.png");
}

.mdl_card.mdl_red_card {
    background-position: 0% 0%;
}
.mdl_card.mdl_orange_card {
    background-position: -100% 0%;
}
.mdl_card.mdl_green_card {
    background-position: -200% 0%;
}
.mdl_card.mdl_yellow_card {
    background-position: -300% 0%;
}
.mdl_card.mdl_purple_card {
    background-position: -400% 0%;
}
.mdl_card.mdl_black_card {
    background-position: -500% 0%;
}
.mdl_card.mdl_facedown_card {
    background-position: -600% 0%;
}
.mdl_discard .mdl_card {
    left: 0px;
    top: 0px;
}
.mdl_card.mdl_small {
    width: 30px;
    height: 30px;
    position: relative;
    border: 1px solid #666;
    border-radius: 4px;
    display: inline-block;
}

/* Player hand */

.mdl_player_hand {
    height: calc(100px * var(--mdlScale));
}

/* Players panels */

.mdl_player_panel_row {
    display: flex;
    padding-top: 2px;
    padding-bottom: 2px;
}

.mdl_player_panel_row.mdl_panel_cards {
    display: grid;
    gap: 5px;
}
.mdl_player_panel_row .mdl_card {
    position: relative;
    margin-right: 2px;
}
.mdl_panel_card {
    align-items: center;    
    display: flex;
}

.mdl_cards_hand {
    background-image: url("img/rivers.png");
    background-size: 700% 100%;
    width: 40px;
    height: 40px;
    background-position: 100% 0%;
}

.mdl_card_counter {
    padding-top: 7px;
    padding-left: 6px;
    padding-right: 6px;
    font-size: 16px;
}

#player_boards .mdl_card_counter {
    padding-top: 7px;
    padding-left: 6px;
    /* padding-right: 0px; */
    padding-right: 6px;
    font-size: 18px;
    font-weight: 600;
}

#player_boards .mdl_decks_inner {
    display: flex;
    padding-left: 2px;
}

#mdl_decks_area {
    height: calc(640px * var(--mdlScale))
}

#player_boards .mdl_decks_inner {
    display: flex;
    padding-left: 2px;
}

.mdl_panel_card_area {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#player_boards .mdl_panel_card_area {
    position: relative;
    width: 60px;
    height: 82px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.mdl_card_ph.mdl_panel {
    position: relative;
    width: calc(98px * var(--mdlScale));;
    height: calc(98px * var(--mdlScale));;
    border: 1px solid #666;
    border-radius: 4px;
}
#player_boards .mdl_card_ph.mdl_panel {
    position: relative;
    width: 60px;
    height: 60px;
    border: 1px solid #666;
    border-radius: 4px;
}

.mdl_flip_ph {
    transition: transform 0.8s;
    transform-style: preserve-3d;
    transform-origin: center;
    position: relative;
}
.mdl_player_hand .mdl_flip_ph,
.mdl_mountain .mdl_flip_ph {
    position: absolute;
    width: calc(98px * var(--mdlScale));;
    height: calc(98px * var(--mdlScale));;
}

.mdl_flip_front, .mdl_flip_back {
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}
.mdl_flip_back, .mdl_flipped {
    transform: rotateY(180deg);
}

.mdl_panel .mdl_card {
    width: calc(98px * var(--mdlScale));;
    height: calc(98px * var(--mdlScale));;
}

#player_boards .mdl_panel .mdl_card {
    width: 60px;
    height: 60px;
}

#mdl_decks_area .mdl_decks_inner .mdl_card_counter {
    position: relative;
    z-index: 100;
    left: calc(70px * var(--mdlScale));
    top: calc(-34px * var(--mdlScale));
    font-size: calc(18px * var(--mdlScale));
    font-weight: 500;
    border: 1px solid black;
    border-radius: 8px;
    background-color: white;
    width: calc(25px * var(--mdlScale));
    height: calc(25px * var(--mdlScale));
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

#player_boards .mdl_decks_inner .mdl_card_counter {
    position: relative;
    top: 33px;
    padding-left: 8px;
    padding-right: 15px;
}

.mdl_panel_label {
    font-size: calc(20px * var(--mdlScale));
    font-weight: 600;
}

#player_boards .mdl_panel_label {
    font-size: 20px;
    font-weight: 600;
}

#player_boards .mdl_panel_label {
    font-size: 16px;
}

.mdl_help_inner {
    padding-left: 1px;
}

/* Log */

.mdl_cards_log {
    display: flex;
}

/* Tooltips */

.mdl_tooltip_row {
    display: flex;
    margin-bottom: 5px;
}
.mdl_cup_tooltip {
    width: calc(135px * var(--mdlScale));
    height: calc(135px * var(--mdlScale));
}
.mdl_card.tooltip {
    position: relative;
    width: calc(40px * var(--mdlScale));
    height: calc(40px * var(--mdlScale));
}
.mdl_green_card.tooltip,
.mdl_yellow_card.tooltip,
.mdl_red_card.tooltip {
    margin-left: 3px;
}
.mdl_help_image {
    display: flex;
    align-items: center;
}

.mdl_help_image span {
    padding-left: 3px;
}

.mdl_action_overview_icon {
    width: calc(30px * var(--mdlScale));
    height: calc(30px * var(--mdlScale));
    object-fit: cover;
    object-position: 100% 0%;
    border: 1px solid #666;
    border-radius: 4px;
}

.mdl_action_overview {
    background-repeat: no-repeat;
    width: calc(300px * var(--mdlScale));
    height: calc(300px * var(--mdlScale));
    background-size: 800% 100%;
    background-image: url("img/mandala_cards.png");
    background-position: 100% 0%;
}

/* Messages */
.head_warning {
    background-color: orange;
 }

/* Score table */
.tableWindow th {
    text-align: center;
}

.mdl_score_river {
    background-image: url("img/rivers.png");
    background-size: 700% 100%;
    width: calc(30px * var(--mdlScale));
    height: calc(30px * var(--mdlScale));
    margin: auto;
}

.mdl_score_river_1 {
    background-position: 0% 0%;
}
.mdl_score_river_2 {
    background-position: 16.66% 0%;
}
.mdl_score_river_3 {
    background-position: 33.32% 0%;
}
.mdl_score_river_4 {
    background-position: 50% 0%;
}
.mdl_score_river_5 {
    background-position: 66.66% 0%;
}
.mdl_score_river_6 {
    background-position: 83.32% 0%;
}

.mdl_show_back {
    background-position: -600% 0% !important;
}

/* Thoun's BGA-Help */
#bga-help_buttons {
    position: fixed;
    bottom: 12px;
    left: 5px;
    display: flex;
    gap: 10px;
    z-index: 949;
    align-items: flex-end;
  }
  
  .bga-help_button {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 3px 5px 5px 0px rgb(0, 0, 0);
  }
  
  .bga-help_popin-button {
    --background: black;
    --color: white;
    font-weight: bold;
    font-size: 28pt;
    background: var(--background);
    color: var(--color);
  }
  
  .bga-help_expandable-button {
    overflow: hidden;
    background-size: contain;
    background-repeat: no-repeat;
    transition: width 0.5s, height 0.5s, border-radius 0.5s;
    display: grid;
    width: 50px;
    height: 50px;
    border-radius: 25px;
  }
  .bga-help_expandable-button .bga-help_folded-content {
    grid-row: 1;
    grid-column: 1;
    opacity: 1;
    width: 50px;
    height: 50px;
  }
  .bga-help_expandable-button .bga-help_unfolded-content {
    grid-row: 1;
    grid-column: 1;
    opacity: 0;
  }
  .bga-help_expandable-button[data-folded=false] {
    width: var(--expanded-width);
    height: var(--expanded-height);
    border-radius: var(--expanded-radius);
  }
  .bga-help_expandable-button[data-folded=false] .bga-help_folded-content {
    opacity: 0;
  }
  .bga-help_expandable-button[data-folded=false] .bga-help_unfolded-content {
    opacity: 1;
  }
  
  /* we show help button if user has no mouse ( = no tooltips) */
  @media (hover: hover) {
    #bga-help_buttons {
      bottom: 5px;
    }
  }
  #popin_bgaHelpDialog_contents {
    max-width: 100vw;
    overflow-x: auto;
  }
  
  #popin_bgaHelpDialog {
    --background-color: white;
    background: var(--background-color);
    background-repeat: repeat;
    max-width: 100vw;
    max-height: 80vh;
    overflow: hidden;
  }
  
  #help-dialog-content {
    display: flex;
    justify-content: center;
    width: 520px;
    max-width: 35rem;
    max-height: calc(80vh - 80px);
    overflow: auto;
  }